{
    "presets": [["es2015", {"module": false}]],
    "plugins": [["component", [
        {
            "libraryName": "element-ui",
            "styleLibraryName": 'theme-default'
        }
    ]]]
}
